<!DOCTYPE html>
<html>
<head>
    <title>NightSkyHigh</title>
</head>
<nav>
    <a href="/">Home</a>
    <a href="/planets">Planets</a>
    <a href="/moons">Moons</a>
    <a href="/gallery">Gallery</a>
    <a href="/community">Community</a>
    <a href="/upload">Upload</a>
    <a href="/jokes">Jokes</a>
    <a href="/arcade">Arcade</a>
    <a href="/observatory">Observatory</a>
    <a href="/newsletter">Newsletter</a>
    <a href="/about">About</a>
    <a href="/login">Login</a>
</nav>
<body>
    {{{body}}}
</body>
</html>