 <div class="content">
   <h1>My Pictures</h1>
<h2>These are my pics... from the start.</h2>




  <div style="text-align:center; font-style:italic; color:#bbb; padding:10px;">
    I will hopefully see improvement as I go.
  </div>

  <h1 class="enjoy">Enjoy!</h1>



    <!-- 22-11-24 -->
    <h2>22nd November 2024</h2>
    <blockquote>
      On November 22, 2024 (Earth time), Mars was in Martian Year 38 (Sol 10). We’re not on Mars… so who cares?
    </blockquote>
    <div class="gallery">
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267034/a_vtzqic.jpg" alt="a"><figcaption>a.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267035/b_lj1tyy.jpg" alt="b"><figcaption>b.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267034/c_pqbmii.jpg" alt="c"><figcaption>c.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267035/d_c7b589.jpg" alt="d"><figcaption>d.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267035/e_h1qjyd.jpg" alt="e"><figcaption>e.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267035/f_vleyvy.jpg" alt="f"><figcaption>f.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267036/g_qk5mnb.jpg" alt="g"><figcaption>g.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267035/e_h1qjyd.jpg" alt="h"><figcaption>h.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267037/i_rwmxg1.jpg" alt="i"><figcaption>i.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267037/j_xcldia.jpg" alt="j"><figcaption>j.jpg</figcaption></figure>
    </div>

    <hr>
..
    <!-- 07-12-24 -->
    <h2>07/12/2024</h2>
    <blockquote>
       <p>Someone told me I have “No filters”? That's obviously not true....these were taken with several feckin’ filters!</p>
    </blockquote>
    <div class="gallery">
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267976/a_gwnkj0.jpg" alt="a"><figcaption>a.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267976/b_tmyv8m.jpg" alt="b"><figcaption>b.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267976/c_bualix.jpg" alt="c"><figcaption>c.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267977/d_flaalm.jpg" alt="d"><figcaption>d.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267977/d_flaalm.jpg" alt="e"><figcaption>e.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267979/f_trahvu.jpg" alt="f"><figcaption>f.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267980/g_v86t9g.jpg" alt="g"><figcaption>g.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267980/h_keoq60.jpg" alt="h"><figcaption>h.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267981/i_g1alfd.jpg" alt="i"><figcaption>i.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779267982/j_ni8z9e.jpg" alt="j"><figcaption>j.jpg</figcaption></figure>
    </div>

    <hr>

    <!-- 16-12-24w -->
    <h2>16-12-24</h2>
      <blockquote>I see the moon and the moon can't see me!</blockquote>
    <div class="gallery">
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237647/a_ughajq.jpg" alt="a"><figcaption>a.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237648/b_hkgkui.jpg" alt="b"><figcaption>b.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237650/c_brm0ls.jpg" alt="c"><figcaption>c.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237652/d_zfgnxx.jpg" alt="d"><figcaption>d.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237655/e_rjiric.jpg" alt="e"><figcaption>e.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237656/f_dsjehj.jpg" alt="f"><figcaption>f.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237658/g_t9j258.jpg" alt="g"><figcaption>g.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237660/h_xz3g2w.jpg" alt="h"><figcaption>h.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237663/i_o9t7xj.jpg" alt="i"><figcaption>i.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779237664/j_j24kti.jpg" alt="j"><figcaption>j.jpg</figcaption></figure>
    </div>

    <hr>

    <!-- 18-12-24w -->
    <h2>18-12-24</h2>
      <blockquote>hmmmmmm.....</blockquote>
    <div class="gallery">
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268461/a_b8zihw.jpg" alt="a"><figcaption>a.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268462/b_f7wjdl.jpg" alt="b"><figcaption>b.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268463/c_zhno0u.jpg" alt="c"><figcaption>c.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268465/d_vwrstv.jpg" alt="d"><figcaption>d.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268466/e_ecojjk.jpg" alt="e"><figcaption>e.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268467/f_htnmoa.jpg" alt="f"><figcaption>f.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268468/g_p64zwt.jpg" alt="g"><figcaption>g.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268470/h_owuwe3.jpg" alt="h"><figcaption>h.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268471/i_v6o808.jpg" alt="i"><figcaption>i.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268473/j_c5l4qw.jpg" alt="j"><figcaption>j.jpg</figcaption></figure>
    </div>

    <hr>

    <!-- 20-12-24w -->
    <h2>20-12-24</h2>
      <blockquote>It is an inanamate object!</blockquote>
    <div class="gallery">
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268759/a_ll1eej.jpg" alt="a"><figcaption>a.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268760/b_zp0y2p.jpg" alt="b"><figcaption>b.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268762/c_cawzzz.jpg" alt="c"><figcaption>c.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268763/d_zf6s5q.jpg" alt="d"><figcaption>d.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268765/e_y1jahs.jpg" alt="e"><figcaption>e.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268766/f_poxnil.jpg" alt="f"><figcaption>f.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268768/g_cch36q.jpg" alt="g"><figcaption>g.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268770/h_hhop8r.jpg" alt="h"><figcaption>h.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268771/i_pgtclj.jpg" alt="i"><figcaption>i.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779268773/j_kskuhm.jpg" alt="j"><figcaption>j.jpg</figcaption></figure>
    </div>

    <hr>


    <!-- 9-1-25w -->
    <h2>9-1-2025</h2>
    <blockquote>
      First shots of the year. Sunlit lunar pics = <i>Daynight</i>.hahaha
    </blockquote>
    <div class="gallery">
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236601/i_nuy8do.jpg" alt="a"><figcaption>a.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236601/j_h3af7u.jpg" alt="b"><figcaption>b.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236601/g_ummp7g.jpg" alt="c"><figcaption>c.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236601/h_kw9wmz.jpg" alt="d"><figcaption>d.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236601/f_iighvm.jpg" alt="e"><figcaption>e.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236601/e_anfdwi.jpg" alt="f"><figcaption>f.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236600/d_jiaqgq.jpg" alt="g"><figcaption>g.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236600/c_artotm.jpg" alt="h"><figcaption>h.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236600/b_g2gsnc.jpg" alt="i"><figcaption>i.jpg</figcaption></figure>
      <figure><img class="thumb" src="https://res.cloudinary.com/dvwajekew/image/upload/v1779236600/a_eriwo9.jpg" alt="j"><figcaption>j.jpg</figcaption></figure>
    </div>

  </div>
    <!-- Placeholder: astro photos on pause -->
<div style="max-width: 800px; margin: 2rem auto; padding: 1.25rem 1rem; border: 1px solid #444; border-radius: 12px; background:#111; color:#eee; line-height:1.5; text-align:center;">
  <h2 style="margin:0 0 .5rem; font-size:1.4rem;">Astro Photos: On Pause</h2>
  <p style="margin:.25rem 0 0; font-size:1rem;">
    I’ve paused new photo uploads while I get a camera for the telescope.
    When it’s set up, I’ll resume taking and posting images.
    <strong>Check back regularly — or be the last to know.</strong>
  </p>
</div>