<div class="page-content">

    <div>

        <h1>WARNING!!!</h1>
       
        

        <blockquote>
           " Getting stoned before reading on is not obligatory...
        </blockquote>
        <hr>
        <img src="/images/artwork/party1.webp" alt="Alien party image">
        <hr>
         <blockquote>
            ...but it definitely helps!"
        </blockquote>

         <h1>SPACE...R JOKES</h1>
    <img src="/images/artwork/AYellowAlien.webp" alt="A picture of an alien" width="192" height="192">

    <h3>Q: How many ears does Captain Kirk have? </h3>
    <h4><i>"Three. A left ear, a right ear, and a final frontier!"</i></h4>
    <h3>Q: What did Mister Spock find in the toilet?</h3>
     <h4><i>"The captain's Log!!!"</i></h4><blockquote><i>"I’m reading a book about anti-gravity.. it’s impossible to put down!"</i></blockquote>
    <h3>Q: What’s a light-year?</h3>
    <h4><i>"The same as a regular year, but with less calories."</i></h4>
    <h3>Q: What’s man's favourite Galaxy ?</h3>
    <h4><i>"The MILFy way!"</i></h4>
    <blockquote><em>"Einstein developed a theory about space or being spaced, and it was about time too!"</em></blockquote>
    <h3>Q: What has the Starship Enterprise and toilet paper got in common…?</h3>
     <h4><i>“They both circle Uranus looking for Klingons.”</i></h4>

    <hr>


    <h1>STAR JOKES</h1>
    <img src="/images/artwork/sunjayg.webp" alt="A picture of an alien" width="192" height="192">
    <h3>Q: What does a star win in a competition? </h3>
    <h4><i>"A constellation prize!"</i></h4>
    <h3>Q: What kind of stars wear sunglasses? </h3><h4><i>"Movie stars!"</i></h4>
    <blockquote><i>"Sirius, the dog star, is moving closer to Earth at a rate of nine miles per
      second. This means someday we could be in Sirius trouble!"</i></blockquote>
    <h3>Q: Why did the star get arrested? </h3>
    <h4><i>"Because it was a shooting star!"</i></h4>
    <h3>Q: Why didn’t the Dog Star laugh at the joke? </h3>
    <h4><i>"It was too Sirius!"</i></h4>
    <h3>Q: Who here can tell me the distance from Betelgeuse to Procyon using a standard chart? </h3>
      <h4><i>"...About an inch and a half..."</i></h4>

    <hr>
    <h1>"ASTRONUT" JOKES</h1>
    <img src="/images/artwork/stonedast.webp" alt="A picture of an alien" width="192" height="192">
    <h3>Q: Where does an astronaut dock his spacecraft? </h3>
    <h4><i>"At a parking meteor!"</i></h4>
    <h3>Q: What’s an astronaut’s favourite chocolate bar?</h3>
    <h4><i>"A Mars Bar!"</i></h4>
    <h3>Q: What happened to the astronaut who stepped on chewing gum?</h3>
    <h4><i>"He got stuck in Orbit!"</i></h4>
    <h3>Q: How does one astronaut on the moon tell another astronaut that he is sorry?</h3>
    <h4><i>"He Apollo-gises...!"</i></h4>
    <h3>Q: How do you get a baby astronaut to sleep? </h3>
    <h4><i>"You rocket!"</i></h4>
    <h3>Q: What do you call a crazy spaceman? </h3>
    <h4><i>"An astro-nut!"</i></h4>
    <blockquote>Vladimir Putin has boasted that Russia is planning to build a base on the moon. The idea is that astronauts will live there permanently. When they were asked if they really wanted to spend the rest of their lives in a barren, lifeless, empty landscape, the Russians said… <i>“No. That’s why we want to go to the moon!”</i></blockquote>
    <h3>Q: What do astronauts wear to keep warm? </h3>
    <h4><i>"Apollo-neck sweaters!"</i></h4>
    <h3>Q: How do spacemen pass the time on long trips?</h3>
    <h4><i>"They play astronauts and crosses!"</i></h4>
    <h3>Q: Why is being an astronaut one of the most secure careers to have? </h3>
    <h4><i>"Because even if you get fired you still get to keep your job!"</i></h4>
    <h3>Q: What do the newspapers do when an astronaut dies?</h3>
    <h4><i>"They publish an orbituary!"</i></h4>
    <h3>Q: What’s an astronauts favourite beverage?</h3>
    <h4><i>"Gravi-tea!"</i></h4>

    <hr>
    <h1>ALIEN JOKES</h1>
    <img src="/images/artwork/AGreen.webp" alt="A picture of an alien" width="192" height="192">
    <h3>Q: What do you call an alien with three eyes? </h3>
    <h4><i>"An aliiien!"</i></h4>
    <h3>Q:What do you do if you see an angry alien? </h3>
    <h4><i>"Give it some space!"</i></h4>
    <h3>Q. What should you do if you see a green alien? </h3>
    <h4><i>"Wait until it’s ripe!"</i></h4>
    <blockquote>If crop circles are real, does this mean that aliens have designs for our planet?</blockquote>
    <h3>Q: What come from another world and are really slow? </h3>
    <h4><i>"Snailiens!"</i></h4>
    <h3>Q: What did the alien say to the garden?</h3>
    <h4><i>"Take me to your weeder!"</i></h4>
    <h3>Q: Why don’t aliens visit our solar system? </h3>
    <h4><i>"Because they read the reviews and saw we only have one star!"</i></h4>

    <hr>
    <h1>PLANET JOKES</h1>
    <img src="/images/artwork/pla.webp" alt="A picture of an alien" width="192" height="192">
    <h3>Q: How does Jupiter hold up his trousers? </h3>
    <h4><i>"With an asteroid belt!"</i></h4>
    <blockquote>Scientists have discovered that the center of Jupiter contains the letter <i>“i”</i></blockquote>
    <h3>Q: What type of songs do the planets sing? </h3>
    <h4><i>"Nep-tunes!"</i></h4>
    <blockquote>Jupiter came down to Earth one day and helped these two criminals plan a bank robbery. Anyway, they both got caught and after the judge sentenced the two earthlings to fifteen years behind bars, Jupiter was a bit shocked to get arrested and handed a ten year stretch himself.<i>“But your honour. I didn’t even take part in the robbery!”</i> said Jupiter. <i>“Yes”</i> replied the judge. <i>“But you did help them Planet!”</i></blockquote>
    <h3>Q: What did Mars say to Saturn?</h3>
    <h4><i>"Give me a ring sometime!"</i></h4>
    <blockquote><em>The density of Saturn is so low that the whole planet would float on water, However, you wouldn’t want to try this experiment at home as it would leave a massive ring around the bath!!!</em></blockquote>

    <hr>
    <h1>MOON JOKES</h1>
    <img src="/images/artwork/AMoon.webp" alt="A picture of an alien" width="192" height="192">
    <blockquote>One kid asks the other, <i>“Which is closer, Dublin or the Moon?"</i> the second answers: <i>“Duh! The Moon! You can’t see Dublin from here!"</i></blockquote>
    <h3>Q: what do you call a tick on the moon?</h3>
    <h4><i>"A luna-tick!"</i></h4>
    <h3>Q: How do you know when the moon is going broke?</h3>
    <h4><i>"When it’s down to its last quarter...aahhh.."</i></h4>
    <h3>Q: What was the name of the first satellite to orbit the Earth?</h3>
    <h4><i>"The Moon!"</i></h4>
    <h3>Q: How does the Man in the Moon cut his hair? </h3>
    <h4><i>"Eclipse it!"</i></h4>
    <h3>Q: Did you hear about the bones they found on the moon? </h3>
    <h4>It seems like the cow didn’t make it after all. <i>"hey diddle diddle"</i></h4>
    <h3>Q: Where do moon people go when they get married? </h3>
    <h4><i>"They go on their honeyearth!"</i></h4>
    <h3>Q: Why does a moon rock taste better than an Earth rock?</h3>
    <h4><i>"It’s a little meteor!"</i></h4>
    <h3>Q: Why couldn’t the astronaut book a room on the moon?</h3>
    <h4><i>"Because it was full!"</i></h4>
    <h3>Q: How is the moon like a dollar bill? </h3>
    <h4><i>"They both have four quarters!"</i></h4>
    <h3>Q: Why is the Moon bald? </h3>
    <h4><i>"He has no ‘air!"</i></h4>
    <blockquote>If your children seems a little obsessed over the moon, don’t worry. It’s probably only a phase.</blockquote>

    <hr>
    <h1>SUN JOKES</h1>
    <img src="/images/artwork/sunjay.webp" alt="A picture of an alien" width="192" height="192">
    <h3>Q: Why has Ms. Moon left Mr. Sun?</h3>
    <h4><i>"Because he never wants to go out with her at night!"</i></h4>
    <blockquote><i>"I was up all night wondering where the Sun had gone… then it dawned on me!"</i></blockquote>
    <blockquote>Living on Earth might be expensive but at least you get a free trip around the Sun every year.</blockquote>
    <blockquote>Copernicus’ parents might deserve some of the credit for his great discovery. Apparently, at the age of twelve, they said to him: <i>“Copernicus, young man, when are you going to realize that the world does NOT revolve around you.”</i></blockquote>

    ...So for anyone who didn't notice because they were stoned or a dumbass or whatever.....we already did star jokes...the sun is a star just closer......I was stoned when I noticed so I couldn't be arsed fixing it...
    <hr>
    
      <div>
      <h2>The Super Duper Nova</h2>
      <p>In the depths of the cosmos, so vast and bizarre,<br>
        Lived a giggling, shimmering, stoned little star. </p>
    <p>  With a joint in his glow and a twinkle of cheer,<br>
     He’d orbit too close to the galactic frontier. </p>
      <p> He inhaled a great puff, oh, an intergalactic toke,<br>
        His nebula neighbors all started to choke!<br>
        A cough, then a hiccup, then—oh, what a sight—<br>
        He exploded in laughter and blinding white light! </p>
      <p>
        The planets went spinning, the comets ran wild,<br>
        A supernova born from a star so reviled.<br>
        Now his ash scatters wide through the Milky Way’s dome,<br>
        Forever high, forever at home.
      </p>
    <p style="font-size: 0.8rem;">
    Composed by <i>"Threeheads."</i>
    </p>
      <hr>
    </div>
  </div>


    </div>

</div>
